@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family:'メイリオ', 'Meiryo', sans-serif;
}

p {
    letter-spacing: 2px;
}

.main {
    margin: auto;
    max-width: 70%;
}

header {
    margin: auto;
    width: 70%;
  }

img.header {
    width: 100%;
}

.self-top {
    text-align: center;
    margin-top: 20px;
}

img.profile-img {
    margin-top: 20px;
    margin: auto;
    width: 25%;
}

h1.my-name {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 35px;

}

.self-top p {
    text-align: left;
    margin: auto;
    margin-bottom: 10px;
    max-width: 1200px;
    width: 70%;
    font-size: 18px;
}

h2 {
    margin-top: 50px;
    color: #808080;
    border-bottom: 1px solid  #808080;
}

.about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-me-card {
    margin-bottom: 50px;
    border: 1px solid  #808080;
    width: 45%;
}

.about-me-card article {
    margin: auto;
    width: 90%;
  }

.about-me h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid  #808080;
  } 

p.card-body {
    font-size: 16px;
  }

.card-img {
    text-align: center;
    margin-top: 30px;
}

.picture {
    width: 80%;
}

.skill-img {
    width: 100px;
}

img.work-images {
    width: 200px;
  }


	/* display > 768px CSS（For Tablet） */
/*@media screen and (max-width: 767px) {
  .main {
    margin: 0 auto;
    max-width: 600px;
  }
  
  img.profile-img {
    margin: auto;
    margin-top: 20px;
    height: 224px;
    width: 224px;
  } 

}
	/* display > 480p CSS（For SmartPhone） */
@media screen and (max-width: 480px) {
    .main {
        margin: 0 auto;
        max-width: 340px;
    }
    
    p {
        max-width: 340px;
    }

    img.profile-img {
        margin: auto;
        margin-top: 20px;
        height: 122px;
        width: 122px;
    } 
}
