@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family:'メイリオ', 'Meiryo', sans-serif;
}

footer {
    text-align: center;
    margin: auto;
    font-size: 8px;
    color: #808080;
}

.main {
    margin: auto;
    max-width: 70%;
}

p, li, a {
    font-size: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    text-align: left;
}

a {
    font-size: 26px;
    text-decoration: none;
}

a:visited {
    color: #333;
}

a:hover {
    color: #0000cd;
    font-weight: 700;
    text-decoration: none;
}

header {
    margin: auto;
    width: 70%;
  }

/* navigation css */
#nav-top  {
    margin: 0;
}

#nav-top a {
    color: black; 
    font-size: 70%;
}

#nav-top a.current {
    color: #090909; 
    font-size: 70%;
    font-weight: bold;
}

#nav-top a:hover {
    color: #090909; 
    font-size: 70%;
}


#nav-top ul {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

#nav-top li {
    background-color: white;
    border-bottom: 1px solid  black;
    text-align: center;
    width: 20%;
    margin: 0 5px;
}


.under-nav {
    text-align: center;
}

button.inside-nav {
    background-color: #2F4F4F;
    width: 30%;
    text-align: center;
}

button.inside-nav a {
    text-decoration: none;
    color: white; 
}

button.inside-nav a:hover {
    font-weight: bold;
}




img.header {
    width: 100%;
}

.self-top {
    text-align: center;
    margin-top: 20px;
}

img.profile-img {
    margin-top: 20px;
    margin: auto;
    width: 25%;
}

h1.my-name {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 35px;

}

.self-top p {
    margin: auto;
    letter-spacing: 0px;
    max-width: 450px;
    font-size: 18px;
}

h2 {
    margin: 30px 0 0 0;
    color: #808080;
    font-weight: lighter;
    border-bottom: 1px solid  #808080;
}

/* about me css------------------------------------------- */

.about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px auto;
}

.about-me-card {
    margin-bottom: 20px;
    border: 1px solid  #808080;
    width: 48%;
}

p.card-body {
    height: auto;
}

.about-me-card article {
    margin: auto;
    width: 90%;
}

.about-me h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid  #808080;
} 


.card-img {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.picture {
    margin: 0px;
    width: 100%;
}

p.img-description {
    margin: 0px; 
    font-size: 12px;
}

/* history css ------------------------------------------- */
p.sub-event {
    font-size: 14px; 
}

p.year {
    margin-bottom: 0px;
    text-decoration: underline;
    font-weight: bold;
}



/* skills css -------------------------------------------- */
.skills {
    display: flex;
    margin-top: 30px;
}

.cards {
    margin: 0px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.control-guide {
    display: none;
}


.card {
    width: 20%;
    text-align: center;
}


.skills p {
    margin: 5px auto;
}

.skills h3 {
    margin: 0px auto;
}


.skill-img {
    width: 60%; 
    transition: all 0.6s ease 0s;
}

.skill-img:hover {
    cursor: pointer;
    transform: scale(1.3, 1.3);
}

#skill-detail {
    width: 30%;
}

#skill-detail p {
    margin-bottom: 10px;
}

#skill-detail img {
    margin: auto;
    width: 100%;
}

/* works css -------------------------------------------- */

.work-card {
    margin: auto;
    width: 80%;
}

.work-card h3 {
    font-weight: bold;
    font-size: 28px;
}

.detail-button  {
    width: 100%;
    margin: 28px 0;
    font-size: 26px;
    font-weight: normal;
    transition: all 0.3s ease 0s;
      
}

.detail-button:active {
  webkit-transform: translateY(2px);
  transform: translateY(2px);
  border-bottom: none;
}
.detail-button:hover {
    background: #00FFFF;
    color: black;
}



h3.work-h3 {
    border-top: 1px solid  #808080;
    padding-top: 20px;
}


img.work-images {
    width: 100%;
    border: 1px solid  #808080;
}

.work-img {
    margin: 0;
    width: 100%;
    height: auto;
    text-align: center;
}

/* after click event detail css------------------------*/
/* work-detail's parent's border around and background-coler are made by JavaScript */
.work-detail {
    margin: 20px auto;
    width: 90%;
}

.work-detail h5,h6 {
    font-size: 24px;
    margin: 5px 0 5px 0;
    border-bottom: 1px solid  #808080;
}

.work-detail h6 {
    font-size: 22px;
}

p.used-tech {
    word-wrap: break-word;
}



/* contact css -------------------------------------------- */

.contact p {
    text-align: center; 
  }

.contact-img {
    width: 8%;
    text-align: center;
    margin: 50px auto;
    overflow: hidden;
}

img.contacts {
    width: 100%;
    transition-duration: 0.3s;
}

.contact-img:hover img {
    opacity: 0.6;
    transition-duration: 0.3s;
}

.links {
    display: flex;
}

/* display > 768px CSS（For Tablet）--------------------------------------- */
@media screen and (max-width: 959px) {
    .main {
        margin: auto;
        max-width: 90%;
    }

    p, li, a {
        font-size: 16px;
        letter-spacing: 0.5px;
        font-weight: lighter;
        margin-bottom: 10px;
    }
   
    a {
        font-size: 24px;
    }  

    header {
        margin: auto;
        width: 100%;
      }

    img.header {
        width: 100%;
    }
    /* navigation css */
    #nav-top {
        display: none;
    }
    
    button.inside-nav {
        width: 100%;
    }


    .self-top {
        text-align: center;
        margin-top: 20px;
    }

    img.profile-img {
        margin-top: 20px;
        margin: auto;
        width: 30%;
    }

    h1.my-name {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 30px;
    }

    .self-top p {
        margin: auto;
        max-width: 1200px;
        width: 70%;
        letter-spacing: 0px;
    }

    h2 {
        margin-top: 30px;
        color: #808080;
        font-weight: lighter;
        border-bottom: 1px solid  #808080;
    }

/* about me css------------------------------------------- */
    .about-me-card {
        margin-bottom: 20px;
        border: 1px solid  #808080;
        width: 100%;
    }

    .about-me-card article {
        margin: auto;
        width: 90%;
        height: 90%;
    }

    p.card-body {
        height: auto;
    }
    
    .about-me h3 {
        margin-top: 10px;
        margin-bottom: 5px;
        border-bottom: 1px solid  #808080;
        font-weight: bold;
    } 


    .card-img {
        width: 50%;
        text-align: center;
        margin: auto;
        margin-bottom: 10px;
    }

    .picture {
        margin: 0px;
        width: 100%;
    }

    p.img-description {
        margin: 0px; 
        font-size: 10px;
    }

/* history css ------------------------------------------- */
    p.sub-event {
        margin-top: 10px;
        font-size: 12px; 
    }

    p.year {
        margin-bottom: 0px;
        text-decoration: underline;
        font-weight: bold;
    }

    p.action {
        margin-top: 0px;
    }

/* skills css ------------------------------------------- */
    
    .skills {
      display: flex;
    }

    .control-guide {
        display: block;
        margin: 0 0 0 20px;
    }   
    
    .control-guide p {
        margin: 5px auto;
        font-size: 14px;
        text-align: center;
    }   

    .skills p {
        text-size: 16px;
        margin: 5px auto;
    }
    
    .skills h3 {
        margin: 0px auto;
        font-size: 20px;
    }

/*works css-------------------------------------------------*/

    .work-card {
        width: 100%;
    }

/*contacts css-------------------------------------------------*/
    .contact-img {
        width: 15%;
    }

}


/* display > 480p CSS（For SmartPhone）-------------------------------------- */
@media screen and (max-width: 480px) {
    .main {
        margin: auto;
        max-width: 90%;
    }
    
    p, li, a {
        font-size: 14px;
        letter-spacing: 0.5px;
        font-weight: lighter;
        margin-bottom: 10px;
    }
  
    a {
        font-size: 20px;
    }

    .self-top {
        text-align: center;
        margin-top: 10px;
        width: 100%
    }

    img.profile-img {
        margin-top: 10px;
        margin: auto;
        width: 50%;
    }

    h1.my-name {
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 20px;
    }

    .self-top p {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        letter-spacing: 0px;
        font-size: 16px;
    }

    h2 {
        margin-top: 10px;
        color: #808080;
        font-weight: lighter;
        border-bottom: 1px solid  #808080;
    }

    /* about me css------------------------------------------- */
    .about-me-card {
        margin-bottom: 20px;
        border: 1px solid  #808080;
        width: 100%;
    }


    .about-me-card article {
        margin: auto;
        width: 90%;
    }

    .about-me h3 {
        margin-top: 10px;
        margin-bottom: 5px;
        border-bottom: 1px solid  #808080;
        font-size: 18px;
        font-weight: bold;
    } 


    .card-img {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .picture {
        margin: 0px;
        width: 100%;
    }

    p.img-description {
        margin: 0px; 
        font-size: 10px;
        text-align: left;
    }

    /* history css ------------------------------------------- */
    p.sub-event {
        margin-top: 5px;
        font-size: 12px; 
    }

    p.year {
        margin-bottom: 0px;
        text-decoration: underline;
        font-weight: bold;
    }

    p.action {
        margin-top: 0px;
    }

    /* skills css -------------------------------------------- */
    .skills {
        flex-wrap: wrap;
      }

    .control-guide {
        display: block;
        margin: 0 0 0 20px;
    }   
    
    .control-guide p {
        margin: 5px auto;
        font-size: 12px;
        text-align: left;
    }   
    
    .skills p {
        text-size: 10px;
        margin: 5px auto;
    }
    
    .skills h3 {
        text-size: 14px;
        margin: 5px auto;
    }

    .cards {
        margin: 0px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    #skill-detail {
        width: 100%;
    }

    /*works css-------------------------------------------------*/
    .works {
        flex-wrap: wrap;
    }

    .work-card {
        width: 100%;
    }

/* after click event detail css------------------------*/
/* work-detail's parent's border around and background-coler are made by JavaScript */

    .work-detail {
        margin: 20px auto;
        width: 90%;
    }

    .work-detail h5,h6 {
        font-size: 18px;
        margin: 5px 0 5px 0;
        border-bottom: 1px solid  #808080;
    }

    .work-detail h6 {
        font-size: 16px;
    }

/*contacts css-------------------------------------------------*/
    .contact-img {
        width: 20%;
    }
}
