.navigation {
  font-family: masque;
  z-index: -3;
  background-color: rgba(245, 245, 245, 0.5);
  #hamburger-menu {
    border-color: rgba(0, 0, 0, 0);
  }
  #navigation-bar {
    margin: 20px;
    @include mobile-display {
      margin: 0;
    }
    .navbar-nav {
      margin: 0 0 0 auto;
      .nav-item {
        float: right;
        .nav-link.nav-a {
          font-size: 15px;
        }
      .lang {
        padding-left: 10px;
      }
      }
    }
  }
}
