@charset "UTF-8";
//import font mixin function
@import './mixin/fonts';
@import './mixin/media_query';



@import 'header';
@import 'top_title';
@import 'self_intro';
@import 'self_likes';
@import 'history';
@import 'skills';

// definition of breakpoints of Display

// functions
//Overall settings
* {
  li {
    list-style: none;
    a {
    text-decoration: none;
    }
  }
}

.container.canvas {
  margin: 0 auto;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

p {
  @include p;
}

.bold {
  font-weight: bold;
}
