@charset "UTF-8";

// definition of breakpoints of Display
$pc: 1440px; // PC
$mobile: 570px;

li {
  list-style: none;
}
// functions
@mixin pc-display {
  @media (max-width: ($pc)){
    @content;
  }
}


@mixin mobile-display {
  @media only screen and (max-width: ($mobile)){
    @content;
  }
}

//header-img
.header-img {
  width: $pc;
  @include mobile-display {
    width: 100px;
  }
}

ul.navbar {

  li {
    float: left;
    width: 80px;
  }
}
