@charset "UTF-8";
//import font mixin function
@import './mixin/fonts';
@import './mixin/media_query';

//import masque fonts
@include font-face("masque", "/assets/font/MASQUE__.ttf"); //masque

@import 'header';
@import 'self_intro';
@import 'self_likes';
@import 'history';
@import 'skills';

// definition of breakpoints of Display

// functions
//Overall settings
* {
  li {
    list-style: none;
    a {
    text-decoration: none;
    }
  }
}

.container.canvas {
  margin: 0 auto;
}
